#cards-grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 600px;
  height: 400px;
  margin: auto;
}

.card {
  flex-basis: 33.3%;
  position: relative;
  /* :hover {
    transform: rotateY(180deg);
  } */
  transition-property: transform;
  transition-duration: 1s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.card-front-face {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card-back-face {
  position: absolute;
  backface-visibility: hidden;
  top: 0px;
  left: 0px;
}

img {
  width: 100%;
}
